body {
  font-family: "Open Sans";
  margin: 0;
}

nav {
  background-color: #006d77;
  display:flex;
  justify-content: space-between;
}

.left-nav {
  align-items: flex-end;
  display: flex;
  color: #ffddd2;
}

.share-divider {
  align-items: center;
  color: #edf6f9;
  display: flex;
}

.share-icon {
  padding: 1em 0em 1em 3em;
}

.share-word {
  padding-left: 0em;
}

h1 {
  font-size: 3em;
  color: #edf6f9;
}

h5 {
  margin-left: 1em;
  color: #83c5be;
}

h2 {
  margin: 0;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3em;
}

main {
  margin: 0;
  background-color: #e29578;
  overflow: auto;
}

.cards-section {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-content:space-around;
}

.card {
  background-color: #edf6f9;
  margin: 0;
  width: 320px;
}

.photo-area {
  position: relative;
}

.icon-image {
  position: absolute;
  background: #edf6f9;
}

.view-text {
  align-items: flex-end;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  position: absolute;
  top:0; right:1em;
}

h3 {
  color: #83c5be;
  font-size: 2.5em;
}

#viewWord {
  color: #e29578;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 5px;
}

#viewNumber {
  color: #e29578;
  margin-top: 0;
}

.text-area {
  margin-left: 1em;
}

h4 {
  font-size: 1.5em;
}

#date {
  color: #ffddd2
}

#name, #date,
#playlist, #playlistName,
#playCount {
  margin-top: 0;
  margin-bottom: 0;
}

#attachments {
  margin-bottom: 0;
}

#websiteLink {
  background-color: #ffddd2;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 280px;
  word-wrap: break-word;
}
